<nav class="navigation">
    <div> POSTR </div>

    <div>
        <a routerLink="posts" class="nav-button"> Posts </a>
    </div>

    <div *ngIf="!(isLoggedIn)">
        <a routerLink="newuser" class="nav-button"> Create Account</a>
    </div>

    <div *ngIf="isLoggedIn" (click)="togglePostMenu()" class="nav-button" >New Post</div>

    <div *ngIf="isLoggedIn" (click)="LogOut()" class="nav-button logOut"> Log out</div>

    <div *ngIf="!isLoggedIn" class="logIn">
        <input type="text" [(ngModel)]="username" name="username" placeholder="username..">
        <input type="text" [(ngModel)]="password" name="password" placeholder="password..">
        <input type="submit" value="LogIn" (click)="LogIn()">
    </div>

</nav>


<div *ngIf="(newPostMenu && isLoggedIn)" class="input-form">
    <h1>New Post:</h1>
    <input type="text" [(ngModel)]="title" name="title" placeholder="New Post Title">
    <br>
    <textarea [(ngModel)]="content" name="content" placeholder="Body of post.."></textarea>
    <br>
    <input type="text" [(ngModel)]="image" name="image" placeholder="ImageUrl">
    <br>
    <input type="submit" value="Add a post" (click)="addPost()">
</div>

<router-outlet></router-outlet>